n8nEmbedding.json
{
  "name": "17 Embeddings",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e904a854-1141-4e33-9a61-160545c0bc57",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "getAll",
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "8ba56469-23d0-4615-8af2-246c4367ed33",
      "name": "Get many messages",
      "webhookId": "c2b715d6-ae96-49fc-b752-5f1fab9e963f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "hPtrDRGnBfXWddRj",
          "name": "zachary.smith@cpnv.me"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const j = item.json; \n \n  const messageId = j.id || ''; \n  const conversationId = j.conversationId || ''; \n  const sender = j.from || ''; \n  const subject = j.subject || ''; \n  const bodyText = j.bodyPreview || ''; \n  const recipients = Array.isArray(j.to) ? j.to.join(', ') : ''; \n  const hasAttachments = j.hasAttachments ?? false; \n \n  const textForEmbedding = \n    `search_document: Objet: ${subject}\\n` + \n    `Expéditeur: ${sender}\\n` + \n    `Destinataire(s): ${recipients}\\n` + \n    `Message:\\n${bodyText}`; \n \n  return { \n    json: { \n      message_id: messageId, \n      conversation_id: conversationId, \n      mailbox: 'etudiant@cpnv.me', \n      sender, \n      subject, \n      body_text: bodyText, \n      recipients, \n      has_attachments: hasAttachments, \n      text_for_embedding: textForEmbedding \n    } \n  }; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "79388a65-b5dd-46e4-b29e-ccc23679c6d5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        832,
        0
      ],
      "id": "e5b2bdb9-0410-481a-afed-06d9c68c987e",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const j = item.json; \n \n  const record = { \n    message_id: j.message_id, \n    conversation_id: j.conversation_id, \n    mailbox: j.mailbox, \n    sender: j.sender, \n    recipients: j.recipients, \n    subject: j.subject, \n    body_text: j.body_text, \n    has_attachments: j.has_attachments, \n    text_for_embedding: j.text_for_embedding, \n    embedding_model: j.model, \n    embedding: Array.isArray(j.embeddings) ? j.embeddings[0] : [], \n    created_at: new Date().toISOString() \n  }; \n \n  return { \n    json: { \n      line: JSON.stringify(record) \n    } \n  }; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "id": "5d597e87-da7b-46fe-9855-5a5052279b39",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text-v2-moe"
            },
            {
              "name": "input",
              "value": "=$json.text_for_embedding"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        656,
        -256
      ],
      "id": "0f89bca8-2b30-4cc0-ba80-1adb3a849641",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {
          "fileName": "embeddingSmith.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1248,
        0
      ],
      "id": "8a3573a9-62af-4309-b94e-7607ad31fe66",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/embeddingSmith.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1408,
        -16
      ],
      "id": "d88911dd-0278-453f-94f3-e9e54b2ce210",
      "name": "Read/Write Files from Disk"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b65b4014-bb10-4c45-8fef-f5c696932b6f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "aiEGX0m2qmc8bR94nreiu",
  "tags": []
}