TP1_Email_Classifier_Zachary.json
{
  "name": "TP1_Email_Classifier_Zachary",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "14093d0c-f530-408f-8065-056cdba1f553",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "hPtrDRGnBfXWddRj",
          "name": "zachary.smith@cpnv.me"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const email = item.json; \n  const subject = email.subject || \"\"; \n  const body = email.bodyPreview || \"\"; \n  const sender = email.from || \"\"; \n  const messageId = email.id || \"\"; \n  const emailText = `Objet: ${subject} \nExpéditeur: ${sender} \nMessage: \n${body}`; \n  return { \n    json: { \n      messageId, \n      subject, \n      sender, \n      body, \n      emailText \n    } \n  }; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "f154f14a-96d0-4885-bc7f-53ff8df0496d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gpu.cpnv.me:11434/api/generate ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "Matheswaran/email-classifier:latest"
            },
            {
              "name": "prompt",
              "value": "={{ \"Classify the following email and return JSON only.\\n\\n\" +  $json.emailText }} "
            },
            {
              "name": "stream",
              "value": "={{ false }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "ae1602b8-fa75-44c0-8c4d-a17520c09370",
      "name": "Envois à API Ollama"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \nconst parsed = JSON.parse(item.json.response); \nconst classification = parsed.classifications?.[0] || {}; \nreturn { \njson: { \nrequestType: classification.requestType || \"\", \nrequestSubType: classification.requestSubType?.[0] || \"\", \nconfidenceScore: parsed.confidenceScore || null, \nreasoning: parsed.reasoning || \"\", \noutlookCategory: classification.requestType || \"Other\" \n} \n}; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "14dc34e7-d30c-4bff-ac5a-f87e1d882b10",
      "name": "Mise en forme"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Envois à API Ollama",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envois à API Ollama": {
      "main": [
        [
          {
            "node": "Mise en forme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9d6b636d-d183-4168-b49a-95c16810d779",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "jcOqEs7No-URYjqXpfYtm",
  "tags": []
}