n8nSimilarité/n8nSimilarité.json
{
  "name": "18",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlookTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "71d61530-8f25-4876-8969-2fbf36bb00f2",
      "name": "Microsoft Outlook Trigger",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "hPtrDRGnBfXWddRj",
          "name": "zachary.smith@cpnv.me"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => { \n  const subject = item.json.subject || \"\"; \n  const body = item.json.body || \"\"; \n  return { \n    json: { \n      ...item.json, \n      text_for_embedding: `search_query: Objet: \n${subject}\\nMessage:\\n${body}` \n    } \n  }; \n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "c11f000a-7bde-40c7-aeb7-77d18dc066aa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8n.cpnv.me/workflow/aiEGX0m2qmc8bR94nreiu",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "value": "={    \"model\": \"nomic-embed-text-v2-moe\",    \"input\": \"{{ $json.text_for_embedding }}\"  }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        528,
        -160
      ],
      "id": "2861874d-92cd-4e5b-bc18-73689199e51e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "mode": "combine",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        80
      ],
      "id": "63b0f0fb-6bf9-4224-8082-80f47b0e6af7",
      "name": "Merge"
    },
    {
      "parameters": {
        "fileSelector": "/data/embeddingSmith.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        912,
        0
      ],
      "id": "336c3057-133c-4c42-ba51-5ac0b6ff6808",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "c96fab85-2f93-4bcc-adc0-31e2cff88b76",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "function cosineSimilarity(a, b) {\n  if (!Array.isArray(a) || !Array.isArray(b)) return 0;\n  if (a.length !== b.length) return 0;\n\n  let dot = 0;\n  let normA = 0;\n  let normB = 0;\n\n  for (let i = 0; i < a.length; i++) {\n    const valA = Number(a[i]) || 0;\n    const valB = Number(b[i]) || 0;\n\n    dot += valA * valB;\n    normA += valA * valA;\n    normB += valB * valB;\n  }\n\n  // éviter division par 0\n  if (normA === 0 || normB === 0) return 0;\n\n  return dot / (Math.sqrt(normA) * Math.sqrt(normB));\n}\n\n// Email entrant depuis Merge\nconst incomingNode = $('Merge').first();\nif (!incomingNode || !incomingNode.json) {\n  throw new Error(\"Données Merge introuvables\");\n}\n\nconst incoming = incomingNode.json;\n\n// Embedding entrant\nconst incomingEmbedding =\n  incoming.embedding ||\n  (Array.isArray(incoming.embeddings) ? incoming.embeddings[0] : null);\n\nif (!Array.isArray(incomingEmbedding)) {\n  throw new Error(\"Embedding entrant invalide ou introuvable\");\n}\n\n// Corpus\nconst fileItems = $('Extract from File').all();\nconst corpus = [];\n\nfor (const fileItem of fileItems) {\n  const rows = fileItem.json?.data || [];\n\n  for (const row of rows) {\n    try {\n      if (!row.line) continue;\n\n      const mail = JSON.parse(row.line);\n\n      if (Array.isArray(mail.embedding)) {\n        corpus.push(mail);\n      }\n    } catch (e) {\n      // optionnel : log erreur\n      // console.log(\"Erreur parsing :\", e);\n    }\n  }\n}\n\n// Calcul des scores\nconst results = corpus\n  .filter(mail => mail.message_id !== incoming.message_id)\n  .map(mail => ({\n    json: {\n      subject: mail.subject || \"\",\n      body_text: mail.body_text || \"\",\n      sender: mail.sender || \"\",\n      similarity: cosineSimilarity(incomingEmbedding, mail.embedding)\n    }\n  }))\n  .sort((a, b) => b.json.similarity - a.json.similarity)\n  .slice(0, 3);\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        432
      ],
      "id": "1a0acb50-ac87-4c01-b68b-cdd52052d5b3",
      "name": "Code in JavaScript1"
    }
  ],
  "pinData": {},
  "connections": {
    "Microsoft Outlook Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f60f5058-d02c-4e53-b0bd-7822ad277619",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d30d1f1874df20c0dc0c5e334ba45c46152a3794403b022f504026a467e081f"
  },
  "id": "Z4dPbphXZqH0OekSLXin9",
  "tags": []
}